<p>
	<mat-toolbar color="primary">
		<button *ngIf="auth.isUserLogged()"
			(click)="goToHome()"
			type="button"
			mat-raised-button
			color="primary">
			<mat-icon>home</mat-icon>
		</button>

		<span>
			Administración de Sociedades Anónimas
		</span>
		<span class="example-spacer"></span>

		<small *ngIf="auth.isUserLogged()"
			class="mr-2">
			{{auth.role || "ADMINISTRADOR"}}
		</small>
		<button *ngIf="auth.isUserLogged()"
			(click)="logout()"
			type="button"
			mat-raised-button
			color="primary">
			<mat-icon>logout</mat-icon>
		</button>
	</mat-toolbar>
</p>
