<h1 *ngIf="!loading && sociedadAnonima">
	Información pública de Sociedad Anónima: {{sociedadAnonima.nombre}}
</h1>

<br>

<div *ngIf="!loading && sociedadAnonima"
	class="d-flex justify-content-center">
	<mat-card *ngIf="sociedadAnonima"
		class="example-card">
		<mat-card-header>
			<mat-card-title>
				{{sociedadAnonima.nombre}}
			</mat-card-title>
			<mat-card-subtitle>
				{{sociedadAnonima.correoElectronico}}
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="row">
				<div class="col">
					<qr-code [value]="'localhost:4200/public/' + sociedadAnonima.expediente.id"
						size="300"
						errorCorrectionLevel="M"></qr-code>
				</div>
				<div class="col">
					<p>
						<b>Domicilio Real:</b>
						{{sociedadAnonima.domicilioReal}}
					</p>
					<p>
						<b>Domicilio Real:</b>
						{{sociedadAnonima.domicilioLegal}}
					</p>
					<p>
						<b>Fecha de creación:</b>
						{{sociedadAnonima.fechaCreacion | date}}
					</p>
					<p>
						<b>Apoderado:</b>
						{{sociedadAnonima.apoderado.nombre}} {{sociedadAnonima.apoderado.apellido}}
					</p>

					<mat-list role="list">
						<h2>Socios:</h2>
						<p *ngFor="let socio of sociedadAnonima.socios">
							{{socio.nombre}} {{socio.apellido}} {{socio.aportes}}%
						</p>
					</mat-list>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
