<h1>
	Información pública de Sociedad Anónima
</h1>

<br>

<div class="d-flex justify-content-center">
	<mat-card *ngIf="sociedadAnonima"
		class="example-card">
		<mat-card-header>
			<mat-card-title>
				{{sociedadAnonima.nombre}}
			</mat-card-title>
			<mat-card-subtitle>
				{{sociedadAnonima.correoElectronico}}
			</mat-card-subtitle>
		</mat-card-header>
		<qr-code value="localhost:4200/public/sociedad"
			size="300"
			errorCorrectionLevel="M"></qr-code>
		<mat-card-content>
			<p>
				<b>Domicilio Real:</b>
				{{sociedadAnonima.domicilioReal}}
			</p>
			<p>
				<b>Domicilio Real:</b>
				{{sociedadAnonima.domicilioLegal}}
			</p>
			<p>
				<b>Fecha de creación:</b>
				{{sociedadAnonima.fechaCreacion}}
			</p>
			<p>
				<b>Apoderado:</b>
				{{sociedadAnonima.apoderado.nombre}} {{sociedadAnonima.apoderado.apellido}}
			</p>
		</mat-card-content>
		<br>
		<h2>Socios:</h2>
		<mat-list role="list">
			<mat-list-item *ngFor="let socio of sociedadAnonima.socios"
				role="listitem">
				{{socio.nombre}} {{socio.apellido}}
			</mat-list-item>
		</mat-list>
	</mat-card>

</div>
