<div *ngIf="!loading"
	class="container">

	<h1>
		Dashboards de Monitoreo
	</h1>

	<div class="row">
		<div class="col-6">
			<H2 class="d-flex justify-content-center">
				Continentes a los que más se exporta
			</H2>
			<canvas [data]="pieChartData"
				[labels]="pieChartLabels"
				[chartType]="pieChartType"
				[colors]="pieChartColors"
				[legend]="pieChartLegend"
				baseChart>
			</canvas>
		</div>
		<div class="col-6">
			<H2 class="d-flex justify-content-center">
				Países a los que más se exporta
			</H2>
			<canvas [data]="doughnutChartData"
				[labels]="doughnutChartLabels"
				[chartType]="doughnutChartType"
				[colors]="pieChartColors"
				baseChart>
			</canvas>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-6">
			<H2 class="d-flex justify-content-center">
				Lenguajes de los países a los que más se exporta
			</H2>
			<canvas [data]="pieChartDataIdiomas"
				[labels]="pieChartLabelsIdiomas"
				[chartType]="pieChartType"
				[colors]="pieChartColors"
				[legend]="pieChartLegend"
				baseChart>
			</canvas>
		</div>
		<div class="col-6">
			<H2 class="d-flex justify-content-center">
				Estadísticas por área
			</H2>
			<canvas [datasets]="barChartData"
				[colors]="barChartColors"
				[labels]="barChartLabels"
				[chartType]="barChartType"
				baseChart>
			</canvas>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-4">
			<H2 class="d-flex justify-content-center">
				Continentes a los que se exporta
			</H2>
			<mat-list role="list">
				<mat-list-item *ngFor="let continente of dashboard?.continentesConExportaciones"
					role="listitem">
					{{continente.name}}
				</mat-list-item>
			</mat-list>
		</div>
		<div class="col-4">
			<H2 class="d-flex justify-content-center">
				Continentes a los que no se exporta
			</H2>
			<mat-list role="list">
				<mat-list-item *ngFor="let continente of difference"
					role="listitem">
					{{continente}}
				</mat-list-item>
			</mat-list>
		</div>
		<div class="col-4">
			<H2 class="d-flex justify-content-center">
				Tiempo promedio de finalización de procesos
			</H2>
			<div style="text-align:center">
				<span class="dot d-flex align-items-center justify-content-center">
					{{dashboard?.tiempoPromedioProcesos}}
				</span>
			</div>
		</div>
	</div>
</div>
