<h1>
	Estatuto de Sociedades anónimas
</h1>

<table *ngIf="!legales.loading && legales.sociedades.length > 0; else elseBlock"
	[dataSource]="legales.sociedades"
	mat-table
	class="mat-elevation-z8">

	<ng-container matColumnDef="nombre">
		<th *matHeaderCellDef
			mat-header-cell>
			Nombre
		</th>
		<td *matCellDef="let element"
			mat-cell>
			{{element.nombre}}
		</td>
	</ng-container>

	<ng-container matColumnDef="apoderado">
		<th *matHeaderCellDef
			mat-header-cell>
			Apoderado
		</th>
		<td *matCellDef="let element"
			mat-cell>
			{{element.apoderado.nombre}} {{element.apoderado.apellido}}
		</td>
	</ng-container>

	<ng-container matColumnDef="fechaCreacion">
		<th *matHeaderCellDef
			mat-header-cell>
			Fecha de creación
		</th>
		<td *matCellDef="let element"
			mat-cell>
			{{element.fechaCreacion}}
		</td>
	</ng-container>

	<ng-container matColumnDef="estado">
		<th *matHeaderCellDef
			mat-header-cell>
			Estado
		</th>
		<td *matCellDef="let element"
			mat-cell>
			<div class="chip">
				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip color="accent"
						selected>
						{{element.status[0].status}}
					</mat-chip>
				</mat-chip-list>
			</div>

		</td>
	</ng-container>

	<ng-container matColumnDef="operaciones">
		<th *matHeaderCellDef
			mat-header-cell>
			Operaciones
		</th>
		<td *matCellDef="let element"
			mat-cell>
			<div class="row">
				<button (click)="aprobarSociedad(element.id)"
					mat-mini-fab
					color="accent"
					title="Aprobar">
					<mat-icon>thumb_up</mat-icon>
				</button>
				<button (click)="desaprobarSociedad(element.id)"
					class="ml-2"
					mat-mini-fab
					color="warn"
					title="Desaprobar">
					<mat-icon>thumb_down</mat-icon>
				</button>
			</div>
		</td>
	</ng-container>

	<tbody>
		<tr *matHeaderRowDef="displayedColumns"
			mat-header-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns;"
			mat-row></tr>
	</tbody>
</table>

<ng-template #elseBlock>
	<div class="alert alert-primary"
		role="alert">
		No hay ninguna sociedad anónima para evaluar estatuto
	</div>
</ng-template>
