<div class="row">
	<div class="col-lg-8">
		<h1>
			Mis sociedades anónimas
		</h1>
	</div>
	<div class="col-lg-4">
		<button (click)="agregarSociedad()"
			type="button"
			mat-raised-button
			color="warn">
			Agregar nueva Sociedad Anónima
		</button>
	</div>
</div>

<table *ngIf="!apoderado.loading && apoderado.sociedades.length > 0; else elseBlock"
	[dataSource]="apoderado.sociedades"
	mat-table
	class="mat-elevation-z8">

	<ng-container matColumnDef="nombre">
		<th *matHeaderCellDef
			mat-header-cell>
			Nombre
		</th>
		<td *matCellDef="let element"
			mat-cell>
			{{element.nombre}}
		</td>
	</ng-container>

	<ng-container matColumnDef="apoderado">
		<th *matHeaderCellDef
			mat-header-cell>
			Apoderado
		</th>
		<td *matCellDef="let element"
			mat-cell>
			{{element.apoderado.nombre}} {{element.apoderado.apellido}}
		</td>
	</ng-container>

	<ng-container matColumnDef="fechaCreacion">
		<th *matHeaderCellDef
			mat-header-cell>
			Creacion
		</th>
		<td *matCellDef="let element"
			mat-cell>
			{{element.fechaCreacion}}
		</td>
	</ng-container>

	<ng-container matColumnDef="estado">
		<th *matHeaderCellDef
			mat-header-cell>
			Estado
		</th>
		<td *matCellDef="let element"
			mat-cell>
			<div class="chip">
				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip color="accent"
						selected>
						{{element.status[0].status}}
					</mat-chip>
				</mat-chip-list>
			</div>

		</td>
	</ng-container>

	<ng-container matColumnDef="opciones">
		<th *matHeaderCellDef
			mat-header-cell>
			Opciones
		</th>
		<td *matCellDef="let element"
			mat-cell>
			<div>
				<button *ngIf="element.status[0].status == 'MESA_ENTRADAS_DESAPROBADO'"
					(click)="editar(element.expediente.id)"
					mat-mini-fab
					color="primary"
					title="Corregir">
					<mat-icon>edit</mat-icon>
				</button>
				<button *ngIf="element.expediente && element.status[0].status == 'LEGALES_APROBADO'"
					(click)="verInfoPublica(element.expediente.id)"
					mat-mini-fab
					color="primary"
					title="Ver información pública">
					<mat-icon>info</mat-icon>
				</button>
			</div>
		</td>
	</ng-container>

	<tbody>
		<tr *matHeaderRowDef="displayedColumns"
			mat-header-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns;"
			mat-row></tr>
	</tbody>
</table>

<ng-template #elseBlock>
	<div class="alert alert-primary"
		role="alert">
		No hay ninguna sociedad anónima registrada
	</div>
</ng-template>
